.crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Don't block clicks */
  z-index: 9999; /* Stay on top of everything */
  opacity: 1;
  transition: opacity 0.1s ease; /* Very fast transition */
}

.crosshair.hidden {
  opacity: 0;
  pointer-events: none;
}

.crosshair .horizontal-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-50%);
}

.crosshair .vertical-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: white;
  transform: translateX(-50%);
}
